body {
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Book", sans-serif;
    background-color: #785885;
}

header {
    /*height: 95vh;*/
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.logo a {
    color: #fff;
    text-decoration: none;
    text-wrap: none;
    margin: 0 30px 0 0;
}
.logo a{
    transition: .3s;
}
.logo a:hover {
    color: #00D4C6;

}

.navigation {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.menu {
    display: flex;
}

.nav {
    display: flex;
    list-style: none;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    text-wrap: none;
    margin: 0 30px 0 0;
    font-size: 18px;
}

.logo {
    font-size: 40px;
    font-family: "Fira Code";
}

.link {
    transition: .3s;
}

.link:hover {
    color: #00D4C6;
}

.description {
    top: 35%;
    left: 10%;
    width: 35%;
    position: absolute;
}

.description h1 {
    margin: 0;
    font-size: 40px;
    color: #fff;
}

.description p {
    color: #c7c7c7;
    font-size: 20px;
}

.shop {
    background: none;
    border: 2px solid #00D4C6;
    text-decoration: none;
    color: #00D4C6;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: .4s;
}

.shop:hover {
    background: #00D4C6;
    color: #fff;
}

footer {
    flex: 0 0 auto;
    position: absolute;
    width: 100%;
    height: 5vh;
    background: black;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;

}
footer a {
    color: #fff;
    text-decoration: none;
    text-wrap: none;
    margin: 0 30px 0 0;
    font-size: 18px;
}

.main {
    margin-top: 250px;
    display: flex;
    justify-content: center;

}
.about {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.main h1 {
    margin: 0;
    font-size: 40px;
    color: #fff;
}
.photo {
    display: flex;
    justify-content: center;
}
.photo img {
    width: 400px;
    height: auto;
    border-radius: 10%;
}
.contacts {
    margin-top: 20px;
}
.contacts a {
    margin-right: 20px;
}
.contacts img {
    border-radius: 50%;
    transition: transform 0.5s;
    width: 50px;
    height: 50px;
}
.contacts img:hover {
    transition: 0.5s;
    box-shadow: 5px 3px 4px 2px black;
    transform: scale(1.1);
}