body {
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Book", sans-serif;
    background-color: #785885;
}
.logo a {
    color: #fff;
    text-decoration: none;
    text-wrap: none;
    margin: 0 30px 0 0;
}
.logo a{
    transition: .3s;
}
.logo a:hover {
    color: #00D4C6;

}

.navigation {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.description {
    top: 35%;
    left: 35%;
    width: 35%;
    position: absolute;
}
.menu {
    display: flex;
}

.nav {
    display: flex;
    list-style: none;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    text-wrap: none;
    margin: 0 30px 0 0;
    font-size: 18px;
}

.logo {
    font-size: 40px;
    font-family: "Fira Code";
}

.link {
    transition: .3s;
}

.link:hover {
    color: #00D4C6;
}