.main {
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    text-align: center;
    /*background: linear-gradient(rgba(1,3,56, .8), rgba(1,3,56, .2));*/
    /*background-color: #b647d4;*/
    background-color: #785885;
    font-family: "Franklin Gothic Book", sans-serif;
}

header {
    margin-top: 200px;
}
.hide {
    /*display: none;*/
    transition-duration: 1s;
    opacity: 0;
    visibility: hidden;
    height: 50px;
    width: 20px;

}
.show {
    justify-content: space-around;
    transition-duration: 1s;
    opacity: 1;

}
.wrapper {

    transition: 3s;
    /*position: relative;*/
    display: flex;
    justify-content: space-around;
}
.level {
    align-items: center;
    height: auto;
    transition: 1s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    /*margin-top: 20px;*/
}
.wrapper-level-title {
    height: 50px;
    width: 30%;
    display: flex;
    align-items: center;
    /*text-align: center;*/
    justify-content: flex-end;
}
.wrapper-level-content {
    width: 70%;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}
.wrapper-temp-title {
    height: 50px;
    width: 30%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}
.wrapper-type-title {
    height: 50px;
    width: 30%;
    display: flex;
    align-items: center;
    /*text-align: center;*/
    justify-content: flex-end;
}

.wrapper-temp-content {
    width: 70%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container:hover {
    cursor: auto;
}
.level h {
    background: none;
    border: 2px solid #00D4C6;
    text-decoration: none;
    color: #00D4C6;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: .4s;
}
.level h:hover {
    cursor: pointer;
    transition: .4s;
    background: #00D4C6;
    color: #fff;
}

.tempCorrection {
    order: 2;
}
.temperature {
    align-items: center;
    height: auto;
    transition: 1s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    /*margin-top: 20px;*/
}
.temperature h {
    background: none;
    border: 2px solid #00D4C6;
    text-decoration: none;
    color: #00D4C6;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: .4s;
}
.temperature h:hover {
    cursor: pointer;
    transition: .4s;
    background: #00D4C6;
    color: #fff;
}

.density {
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    margin-top: 20px;
}
.volume {
    align-items: center;
    height: auto;
    transition: 1s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    /*margin-top: 20px;*/
}
.volume h {
    background: none;
    border: 2px solid #00D4C6;
    text-decoration: none;
    color: #00D4C6;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: .4s;
}
.volume h:hover {
    cursor: pointer;
    transition: .4s;
    background: #00D4C6;
    color: #fff;
}

.weight {
    align-items: center;
    height: auto;
    transition: 1s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    /*margin-top: 20px;*/
}

.select {
    text-align: center;
    /*margin-top: 10px;*/
    width: 160px;
}

.select option {
    text-align: center;
}

.input {
    background-color: white;
    text-align: center;
    margin-top: 10px;
}
.title {
    /*width: 200px;*/
    /*margin-right: 200px;*/
    /*display: block;*/
    /*flex-direction: inherit;*/
    /*justify-content: space-around;*/
    /*font-size: 40px;*/
}
.content {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    width: 200px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #00D4C6;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: .4s;
    text-align: center;
}

.span {
    margin-top: 20px;
}

.density {
    display: inline-flex;
    margin-left: 50px;
    margin-top: 50px;
}


.wrapper__auto__dens {
    /*display: flex;*/
    /*!*flex-wrap: wrap;*!*/
    /*align-items: center;*/
    /*height: auto;*/
    /*transition: 1s;*/

    /*justify-content: center;*/
    /*margin-left: 50px;*/
    /*margin-top: 20px;*/

    align-items: center;
    height: auto;
    transition: 1s;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    margin-left: 50px;
    /*margin-top: -50px;*/
}
.wrapper__auto__dens h {
    background: none;
    border: 2px solid #00D4C6;
    text-decoration: none;
    color: #00D4C6;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: .4s;
}
.wrapper__auto__dens h:hover {
    cursor: pointer;
    transition: .4s;
    background: #00D4C6;
    color: #fff;
}
.wrapper-pressure-title {
    height: 50px;
    width: 30%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}
.wrapper-pressure-content {
    box-sizing: border-box;
    /*border-right: 400px solid transparent;*/
    width: 70%;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.weight h {
    background: none;
    border: 2px solid #00D4C6;
    text-decoration: none;
    color: #00D4C6;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: .4s;
}

.weight h:hover {
    cursor: pointer;
    transition: .4s;
    background: #00D4C6;
    color: #fff;
}


.wrapper__handle__dens {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    display: none;
}

.chose__density_type {
    align-items: center;
    height: auto;
    transition: 1s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    /*margin-top: 20px;*/
}
.chose__density_type h {
    background: none;
    border: 2px solid #00D4C6;
    text-decoration: none;
    color: #00D4C6;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: .4s;
}
.chose__density_type h:hover {
    cursor: pointer;
    transition: .4s;
    background: #00D4C6;
    color: #fff;
}
.choose {
    width: 640px;
    box-sizing: border-box;
    height: 100px;
    /*width: 640px;*/

}

.wrapper-type-content {
    width: 70%;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

navbar {
    background-color: white;
}

.wrapper-volume-content {
    width: 70%;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}
.wrapper-volume-title {
    height: 50px;
    width: 30%;
    display: flex;
    align-items: center;
    /*text-align: center;*/
    justify-content: flex-end;
}
.wrapper-weight-content {
    width: 70%;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}
.wrapper-weight-title {
    height: 50px;
    width: 30%;
    display: flex;
    align-items: center;
    /*text-align: center;*/
    justify-content: flex-end;
}
.navigation {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.menu {
    display: flex;
}

.nav {
    display: flex;
    list-style: none;
}
.logo a {
    color: #fff;
    text-decoration: none;
    text-wrap: none;
    margin: 0 30px 0 0;
}
.logo a{
    transition: .3s;
}
.logo a:hover {
    color: #00D4C6;

}

.nav li a {
    color: #fff;
    text-decoration: none;
    text-wrap: none;
    margin: 0 30px 0 0;
    font-size: 18px;
}

.logo {
    font-size: 40px;
    font-family: "Fira Code";
}

.link {
    transition: .3s;
}

.link:hover {
    color: #00D4C6;
}

/* Loader */

.preloader {
    align-items: center;
    background-color: #785885;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;

}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

.mosaic-loader {
    /*margin-top: 200px;*/
    --cell-size: 64px;
    --cell-spacing: 1px;
    --border-width: 1px;
    --cells: 4;
    --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
    display: flex;
    flex-wrap: wrap;
    width: var(--total-size);
    height: var(--total-size);
}
.mosaic-loader > .cell {
    --cell-color: white;
    flex: 0 0 var(--cell-size);
    margin: var(--cell-spacing);
    background-color: transparent;
    box-sizing: border-box;
    border: var(--border-width) solid var(--cell-color);
    animation: 1.5s ripple ease infinite;
}
.mosaic-loader > .cell.d-1 {
    animation-delay: 100ms;
}
.mosaic-loader > .cell.d-2 {
    animation-delay: 200ms;
}
.mosaic-loader > .cell.d-3 {
    animation-delay: 300ms;
}
.mosaic-loader > .cell.d-4 {
    animation-delay: 400ms;
}
.mosaic-loader > .cell.d-5 {
    animation-delay: 500ms;
}
.mosaic-loader > .cell.d-6 {
    animation-delay: 600ms;
}
.mosaic-loader > .cell:nth-child(1) {
    --cell-color: #d4aee0;
}
.mosaic-loader > .cell:nth-child(2) {
    --cell-color: #8975b4;
}
.mosaic-loader > .cell:nth-child(3) {
    --cell-color: #64518a;
}
.mosaic-loader > .cell:nth-child(4) {
    --cell-color: #565190;
}
.mosaic-loader > .cell:nth-child(5) {
    --cell-color: #44abac;
}
.mosaic-loader > .cell:nth-child(6) {
    --cell-color: #2ca7d8;
}
.mosaic-loader > .cell:nth-child(7) {
    --cell-color: #1482ce;
}
.mosaic-loader > .cell:nth-child(8) {
    --cell-color: #05597c;
}
.mosaic-loader > .cell:nth-child(9) {
    --cell-color: #b2dd57;
}
.mosaic-loader > .cell:nth-child(10) {
    --cell-color: #57c443;
}
.mosaic-loader > .cell:nth-child(11) {
    --cell-color: #05b853;
}
.mosaic-loader > .cell:nth-child(12) {
    --cell-color: #19962e;
}
.mosaic-loader > .cell:nth-child(13) {
    --cell-color: #fdc82e;
}
.mosaic-loader > .cell:nth-child(14) {
    --cell-color: #fd9c2e;
}
.mosaic-loader > .cell:nth-child(15) {
    --cell-color: #d5385a;
}
.mosaic-loader > .cell:nth-child(16) {
    --cell-color: #911750;
}

@keyframes ripple {
    0% {
        background-color: transparent;
    }
    30% {
        background-color: var(--cell-color);
    }
    60% {
        background-color: transparent;
    }
    100% {
        background-color: transparent;
    }
}